@font-face {
  font-family: 'Pesaro';
  src: url(fonts/Hoftype_Pesaro.Bold.woff); /* format('woff'),   Pretty Modern Browsers */
       url(fonts/Hoftype_Pesaro.Bold.ttf);  /* format('truetype'),  Safari, Android, iOS */       
}

@font-face {
  font-family: 'Andale Mono';
  src: 
       url(fonts/Andale_Mono.woff); /* format('woff'),   Pretty Modern Browsers */
       /* url('fonts/Andale_Mono.ttf')  format('truetype'),  Safari, Android, iOS */       
}

.custom-header{

    margin-top: -18px;
    position: absolute;
    right: 90px;
    z-index: 2;
    
}

.title-text-div{
    margin-top: -98px;
    margin-left: -167px;
    font-family: 'Andale Mono';
    font-size: 11px;
    letter-spacing: 2.5px;
    z-index: 1;
}

.title-caption{
    position: fixed;
    font-family: 'Andale Mono';
    font-size: 11px;
    letter-spacing: 2.5px;
    transform: rotate(-90deg);
    z-index: -1;
    margin-left: -88.3%;
    margin-top: -372px;
    
}

.int-text-div{
    margin-top: 17px;
    width: 660px;
    height: 600px;
/*    margin-left: 275px;*/
    margin-left: 19.4%;
    
        
}
.int-text{
    font-family: 'Pesaro', sans-serif;
    vertical-align:middle;
    text-indent: -35px;
    letter-spacing: 13.5px;
    line-height: 85px;
    font-size: 40pt;
    font-weight: 600;
}

#img-box{
    position: absolute;
    margin-left: 26%;
    width:690px;
    height:538px;
/*    background:red;*/
     background-image: url("images/placeholder.png");
    background-size: 110%;
    z-index: -1;
    
    opacity: 0.5;
    margin-top: -488px;

}

.lang-toggle{
/*    position: fixed;*/
    margin-left: -41px;
    font-family: 'Andale Mono';
    font-size: 11px;
    letter-spacing: 2.5px;
    cursor: pointer;
    margin-top: 670px;
}
