html, body{
    position: fixed;
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: 'Merriweather', sans-serif;
/*    font-weight: 300;*/
    word-break: break-word;
}



#camera, #camera--view{
    position: fixed;
    height: 100%;
    width: 100vw;
    object-fit: cover;
    z-index: -111111;
}

#camera--canvas{
  /* position: fixed; */
  z-index: 111111;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* desktop */
  /* -webkit-clip-path: polygon(49% 8%, 27% 80%, 73% 80%); */
  /* clip-path: polygon(49% 8%, 27% 80%, 73% 80%); */
  /* polygon(555px 77px, 239px 730px, 900px 730px) */
  /* clip-path: polygon(48% 26%, 13% 63%, 87% 63%); */
  /* clip-path: polygon(49vw 8vh, 21vw 80vh, 80vw 80vh) */

  /* mobile */

}

#camera--overlay{
  position: fixed;
  z-index: 9999;
  width: 82vw;
  /* height: 70vh; */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#svg--box{
  width: 70vw;
    height: 100vh;
    position: fixed;
    left: 200px;
    z-index: 999999;
}

#camera--overlay--total{
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: blue;

  background-color: #032642;
  /* mix-blend-mode: exclusion; */
  opacity: 0.3;
  z-index: 53333333;
}

.story-wrapper{
    position: fixed;
    top: 20px;
    z-index: 22222222;
}

#camera-trigger-prompt{
  position: fixed;
  width: 100vw;
  height: 20vh;
  z-index: 777777777777;
  background-color: red;
}


#story{
  padding: 0px;
}

input{
  font-size:14px;
font-style: italic;
  padding:10px 10px 10px 0px;
  display:block;
  width:80vw;
  border:none;
  border-bottom:1px solid #1c1c1c;
  background: none;
}
input:focus{
  outline:none;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

li {
 list-style: none;
 padding: 20 0 10;
}

#camera--trigger{
    width: 320px;
    background-color: #032642;
    color: white;
    font-size: 14px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 70px;
    left: calc(50% - 160px);
    z-index: 555555555;
}

#camera--next{
  position: fixed;
  bottom: 30px;
  width: 100px;
  left: calc(50% - 50px);
  z-index: 555555555;
  background: none;
  border-style: none;

  /* background-color: #032642; */
  color: white;
  font-size: 14px;
}

#camera--trigger:hover{
   background-color: #FEBB74;
   color: #032642;
}

#snap{
  position: fixed;
  /* width: 100%; */
  height: 100%;
/*   left: calc(50% - 237px) */
/*     left: calc(31% - 100vw); */
/*   left:(-120vw); */
/* clip-path: ellipse(300px 300px at 50vw 44vh); */
/* clip-path: polygon(50% 0%, 80% 100%, 0 40%, 100% 40%, 20% 100%); */
  clip-path: circle(150px at center);
  -webkit-clip-path: circle(150px at 189px);
  background-color: rebeccaPurple;
}
