@font-face {
    font-family: Andale_Mono;
    src: url(fonts/Andale_Mono.woff);
    }

    @font-face {
        font-family: Pesaro;
        src: url(url/);
    }

.col-md-12{
 padding-top: 1.3%;
    z-index:10000000000000;
}
footer{
    background-color: black;
}
header{
    position: inherit;
	width:50%; 
    right: 0%;
    left: 51%;
	height:50px;
/*    top: 5%;*/
	line-height:60px;
/*	border-bottom:1px solid #dddddd;*/
    opacity: 0.7;
       
}
.hamburger{
  background:none;
  position:absolute;
  top:12px;
  right:120px;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color: black;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:13px;
  right:121px;
  padding:7px 15px 0px 15px;
  color:black;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
    z-index:1000000; 
    width:11.5%; 
    background: white;  
    position:absolute; 
    text-align:right; 
    
    font-family: "Andale_Mono";
    letter-spacing: 1.8pt;
    font-size: 8.5pt;
    color: black;
/*    margin-right: 40%;*/
    right: 160px;
    
}

.menu ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none;
}

.menu li {
    display: block;   
    padding:15px 0px 15px 0px; 
    border-bottom:#dddddd 1px solid;
} /* -- lines -- */ 

.menu li:hover{
    display: block;    
    background:#ffffff; 
    padding:15px 0 15px 0; 
    border-bottom:#dddddd 1px solid;
    
}

.menu ul li a { 
    text-decoration:none;  
    margin: 0px; 
    color:#666;
}

.menu ul a li p { 
    margin: 0px 9px; 
}

.menu ul a li p:hover { 
    margin: 0px 11px; 
    color: black;
}


.menu ul li a:hover {  
    color: yellow; 
    text-decoration:none;
}

.menu a{
    text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

header{
    display:inline-block;
    font-family: "Andale_Mono";
    letter-spacing: 1.8pt;
    font-size: 8.5pt;
    color: black;
    
}

header span {
/*    padding-left:800px;*/
    position: absolute;
    right:100px;
    right:170px;
    top: 10px;
}

a{color:#336699;}